.lista__projetos {
    align-items: flex-start;
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    gap: 1.2rem;
}

.projetos__link {
    color: var(--fonte-principal);
    text-decoration: none;
}