.projetos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(236.85deg, #4f83c2 27.26%, #8fb3df 96.03%);
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    padding: 2.5rem;
    margin: 1rem;
}

.lista__projetos {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.8em;
}

.projetos__link {
    color: var(--fonte-principal);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
}